<!-- Modal bảng công việc -->
<div class="modal fade" id="task_table_modal" tabindex="-1" role="dialog" aria-labelledby="taskTableLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskTableLabel">Task Table</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Task Name</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Details</th>
                            <th scope="col">Config</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Add rows dynamically from JavaScript -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End modal bảng công việc -->